* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body {
  background: #000;
}

#header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
}

nav {
  flex: 0 0 auto;
}

#banner {
  flex: 1 0 auto;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: transparent;
  text-decoration: none;
  padding: 10px;
  font-size: 26px;
  transition: color 1s ease, background 1s ease, padding 1s ease;
}

nav ul li a:hover {
  color: black;
  padding-left: 60px;
  background: white;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
}

#nav-top h3 {
  font-size: 26px;
  padding: 5px;
  color: white;
  border: 3px solid;
  transition: color 2s ease, background 2s ease;
}

#nav-top h3:hover {
  background: white;
  color: black;
}

#menu-btn {
  padding: 5px;
  border: 2px solid #2b98f0;
  cursor: pointer;
  align-self: center;
}

.bar1,
.bar2,
.bar3 {
  height: 5px;
  width: 35px;
  background-color: white;
  margin: 5px 0;
  transition: transform 1s ease;
}

.turn .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.turn .bar2 {
  opacity: 0;
}

.turn .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

@media screen and (min-width: 690px) {
  nav {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  #menu-btn {
    display: none;
  }
  nav ul {
    flex: 1 1 auto;
    display: flex !important;
    /*    important*/
    flex-wrap: wrap;
  }
  nav ul li {
    flex: 1 0 125px;
  }
  nav ul .icon {
    flex: 0 0 20px;
  }
  nav ul li .link-icon {
    color: #f5f5f5;
    background: #395e7e;
  }
  nav ul li .link-icon:hover {
    background: #008dff;
  }
  nav ul a {
    text-align: center;
  }
  nav ul a:hover {
    padding: 10px !important;
  }
  #nav-top {
    padding: 10px;
  }
}

/*###############Banner################*/

#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../Assets/cosmic.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#banner-box {
  color: #f5f5f5;
  text-align: center;
}

#banner-title {
  text-transform: capitalize;
  font-size: 60px;
}

.banner-underline {
  width: 300px;
  margin: 10px auto;
  border: 3px solid white;
}

.banner-subtitle {
  margin: 20px 0 40px 0;
  text-transform: capitalize;
  font-size: 30px;
}

#banner-box a {
  display: inline-block;
  padding: 10px;
  font-size: 40px;
  text-decoration: none;
  color: #f5f5f5;
  background: #2b98f0;
  border: 3px solid #2b98f0;
  transition: background 3s ease, border 0.5s ease;
}

/*title*/

.title {
  margin: 10px 0 40px 0;
  cursor: pointer;
}

.title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-transform: capitalize;
  color: white;
}

.title-underline {
  width: 50px;
  border: 3px solid white;
  transition: width 1s ease, border 4s ease;
}

@media screen and (min-width: 576px) {
  .title-text {
    display: flex;
    justify-content: flex-start;
  }
}
